html {
    height: 100vh;
    width: 100vw;
    left: 0;
}

#add-book {
    font-size: 30px;
    height: 100px;
    width: 200px;
    padding: 1px;
    margin-bottom: 10px;
}

#body {
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(pink, white, lightblue);
}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    font-size: 1.5em;
}

.close {
    position: absolute;
    top: 2%;
    right: 6%;
    width: 3%;
    height: 4%;
    font-size: 20px;
}

.close:hover {
    transform: scale(1.1);
}

#cover-up {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#image {
    height: 200px;
    width: 300px;
    background-image: linear-gradient(white. pink, white);
}

.library-box {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 3%;
    background-image: linear-gradient(to right, rgb(187, 143, 107), rgb(204, 155, 115), rgb(187, 143, 107));
    justify-content: space-around;
    padding: 10px;
}

.library-box > *{
    background-color: rgb(108, 255, 108);
    height: 300px;
    width: 300px;
    border: 1px solid black ;
    border-radius: 5%;
    animation-name: book-create;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes book-create {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#main-title {
    font-size: 60px;
}

.new-book {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 20px;
    padding-left: 5px;
}

#page-count-warning {
    color:rgb(206, 0, 0);
    display: none;
}

#submit-button {
    width: 20% !important;
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-input {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: aquamarine;
    border: 3px solid black;
    border-radius: 5%;
    z-index: 2;
}

.modal-animation {
    animation-name: modal-animate;
    animation-duration: .5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.modal-animation-reverse {
    animation-name: modal-animate;
    animation-duration: .5s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes modal-animate {
    from {
        display: none;
        top: 0px;
        opacity: 0;
        width: 1vmax;
        height: 1vmax;
    }
    to {
        top: 60px;
        opacity: 1;
        width: 45vmax;
        height: 45vmax;
    }

}

#user-input > input {
    width: 80%;
    height: 10%;
    font-size: 1.5em;
    padding-left: 1%;
} 



